<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SIRP.My.MySettings.SIRPConnectionString" connectionString="Data Source=DESKTOP-EUII0N8;Initial Catalog=SIRP;Persist Security Info=True;User ID=sa;Password=sasa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>